doctype html

html
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/style.css')

    body
        block content

        script(src="https://fb.me/react-0.13.3.js")
        script(src="https://fb.me/JSXTransformer-0.13.3.js")

