/*First variant - rendering on server*/
/*li {*/
    /*list-style-type: none;*/
/*}*/
/*li.main:before {*/
    /*content: "- ";*/
/*}*/

/*Second variant - Use React for rendering on client*/

.object{
    margin-left: 40px;
    margin-top: 5px;
}

.object--name{
    font-size: 120%;
    font-style: italic;
}